<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Welcome</title>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <div class="container"  style="width: 100vw; height: 100vh;">
      <h1 id="heading">Welcome to Mini Project</h1>
      <div class="redirecs">
        <form action="/d2_wsws" method="GET" target="_blank">
          <button type="submit">D2_WSWS</button>
        </form>
        <form action="/gillete_app" method="GET" target="_blank">
          <button type="submit" action="/gillete_app" method="GET">
            Gillete_APP
          </button>
        </form>
        <form action="/file_renamer" method="GET" target="_blank">
          <button type="submit" action="/file_renamer" method="GET">
            file_renamer
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
